@import 'header.css';
@import 'middle.css';
@import 'bottom.css';

.body {
  background: #0e7ac3;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";

}
.content {
  max-width: 936px;
  width: 100%;
}
.bg-img{
  position: absolute;
  top: 0;
  text-align: center;
  z-index: -1;
  margin: auto;
}
